.beers {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: black 2px solid;
    border-radius: 15px;
    margin: 20px;

    img {
        height: 60%;
    }
}