.beers {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border: black 2px solid;
    border-radius: 15px;
    margin: 20px;
}

img {
    height: 20%; 
}
